asgiref==3.2.3
astroid==2.3.3
autopep8==1.5
Click==7.0
Django==3.0.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
get==2019.4.13
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.5.2
pluggy==0.13.1
post==2019.4.13
public==2019.4.13
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylint==2.4.4
pyls==0.1.6
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
rope==0.16.0
six==1.13.0
snowballstemmer==2.0.0
sqlparse==0.3.0
ujson==1.35
Werkzeug==0.16.0
wrapt==1.11.2
yapf==0.29.0
